@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--white: #ffffff;
	--background: #0d0714;
	font-family: var(--font-jetbarins);
}

body {
	color: var(--white);
	background: var(--background);
	font-family: var(--font-jetbarins);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	h1 {
		font-family: var(--font-inter);
		font-weight: 700;
		font-size: 24px;
	}

	input {
		font-family: var(--font-inter);
		font-weight: 400;
		font-size: 16px;
	}

	input::placeholder {
		font-family: var(--font-yatra);
		font-weight: 400;
		font-size: 16px;
	}

	img {
		width: auto;
		height: auto;
	}
}
